* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--gray-100);
  color: var(--gray-800);
  font-family: "Segoe UI", "Be Vietnam Pro", sans-serif;
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
